################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TP 2/TP-02/.vs/TP2_DeniseLanger/v15
/TP 2/TP-02/.vs/TP2_DeniseLanger/v16/TestStore/0
