USE [master]
GO
/****** Object:  Database [TP4]    Script Date: 9/7/2021 03:53:12 ******/
CREATE DATABASE [TP4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TP4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TP4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP4]
GO
/****** Object:  Table [dbo].[actuales_inflable]    Script Date: 9/7/2021 03:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actuales_inflable](
	[Material] [varchar](50) NOT NULL,
	[Produccion] [int] NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Diseño] [varchar](50) NOT NULL,
	[Color] [varchar](50) NOT NULL,
 CONSTRAINT [PK_actuales_inflables] PRIMARY KEY CLUSTERED 
(
	[Marca] ASC,
	[Diseño] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[actuales_muñeco]    Script Date: 9/7/2021 03:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actuales_muñeco](
	[Material] [varchar](50) NOT NULL,
	[Produccion] [int] NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Partes] [int] NOT NULL,
	[Ropa] [bit] NOT NULL,
	[Articulado] [bit] NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_actuales_muñeco_1] PRIMARY KEY CLUSTERED 
(
	[Marca] ASC,
	[Modelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[actuales_peluche]    Script Date: 9/7/2021 03:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actuales_peluche](
	[Material] [varchar](50) NOT NULL,
	[Produccion] [int] NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Tamaño] [int] NOT NULL,
	[Medida] [varchar](50) NOT NULL,
 CONSTRAINT [PK_actuales_peluch] PRIMARY KEY CLUSTERED 
(
	[Marca] ASC,
	[Modelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historial_inflable]    Script Date: 9/7/2021 03:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial_inflable](
	[Material] [varchar](50) NOT NULL,
	[Produccion] [int] NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Diseño] [varchar](50) NOT NULL,
	[Color] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Inflable] PRIMARY KEY CLUSTERED 
(
	[Marca] ASC,
	[Diseño] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historial_muñeco]    Script Date: 9/7/2021 03:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial_muñeco](
	[Material] [varchar](50) NOT NULL,
	[Produccion] [int] NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Partes] [int] NOT NULL,
	[Ropa] [bit] NOT NULL,
	[Articulado] [bit] NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Muñeco_1] PRIMARY KEY CLUSTERED 
(
	[Marca] ASC,
	[Modelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historial_peluche]    Script Date: 9/7/2021 03:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial_peluche](
	[Material] [varchar](50) NOT NULL,
	[Produccion] [int] NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Tamaño] [int] NOT NULL,
	[Medida] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Peluche] PRIMARY KEY CLUSTERED 
(
	[Marca] ASC,
	[Medida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
